.panigation-wrapper{
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:550px;
    left:695px;
    border: none;
    outline: none;

  }
  
  .btn-pagination {
    color: #675BF1;
    font-size: 25px;
    border: 1px solid #675BF1;
    font-weight: bold;
  }